.ai-container {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.ai-section {
  scroll-snap-align: start;
  height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-inner {
  width: var(--card-width);
}

.ai-submit-container {
  position: fixed; /* 요소를 화면에 고정 */
  right: 20px;
  bottom: 20px;
}

.ai-submit-button {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: var(--discription-button-bg-color);
  color: var(--color);
}
