.ai-container {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.ai-section {
  scroll-snap-align: start;
  height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-inner {
  width: var(--card-width);
}
