.no-list-container {
  height: calc(100vh - 50px);
  z-index: -1;
  background-image: var(--img-no-list);
  background-position: center;
  overflow: hidden;
  background-size: cover; /* 추가 */
  background-repeat: no-repeat; /* 추가 */
}
